@font-face {
  font-family: 'SegoeUIRegular';
  font-style: normal;
  src: url("../fonts/SegoeUI/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUI/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUIRegular.woff2") format("woff2"), url("../fonts/SegoeUI/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUI/SegoeUIRegular.ttf") format("truetype"); }

@font-face {
  font-family: 'SegoeUIBold';
  font-style: normal;
  src: url("../fonts/SegoeUI/SegoeUIBold.eot");
  src: url("../fonts/SegoeUI/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUIBold.woff2") format("woff2"), url("../fonts/SegoeUI/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUIBold.ttf") format("truetype"); }

@font-face {
  font-family: 'SegoeUILight';
  font-style: normal;
  src: url("../fonts/SegoeUI/SegoeUILight.eot");
  src: url("../fonts/SegoeUI/SegoeUILight.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUILight.woff2") format("woff2"), url("../fonts/SegoeUI/SegoeUILight.woff") format("woff"), url("../fonts/SegoeUI/SegoeUILight.ttf") format("truetype"); }

@font-face {
  font-family: 'SegoeUIBlack';
  font-style: normal;
  src: url("../fonts/SegoeUI/SegoeUIBlack.eot");
  src: url("../fonts/SegoeUI/SegoeUIBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUIBlack.woff2") format("woff2"), url("../fonts/SegoeUI/SegoeUIBlack.woff") format("woff"), url("../fonts/SegoeUI/SegoeUIBlack.ttf") format("truetype"); }

@font-face {
  font-family: 'SegoeUISemiBold';
  font-style: normal;
  src: url("../fonts/SegoeUI/SegoeUISemiBold.eot");
  src: url("../fonts/SegoeUI/SegoeUISemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI/SegoeUISemiBold.woff2") format("woff2"), url("../fonts/SegoeUI/SegoeUISemiBold.woff") format("woff"), url("../fonts/SegoeUI/SegoeUISemiBold.ttf") format("truetype"); }

@font-face {
  font-family: 'GotthardRegular';
  font-style: normal;
  src: url("../fonts/Gotthard.eot");
  src: url("../fonts/Gotthard.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotthard.woff2") format("woff2"), url("../fonts/Gotthard.woff") format("woff"), url("../fonts/Gotthard.ttf") format("truetype"); }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  font-size: .83vw;
  font-family: 'SegoeUIRegular'; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, a:hover, a:active {
  text-decoration: none;
  color: #3E3E40; }

.container {
  padding: 0 7.1vw; }

.margin-bottom {
  margin-bottom: 8.8vw; }

.margin-bottom--el {
  margin-bottom: 5.3vw; }

.text {
  font-size: .93vw;
  line-height: 1.25vw; }

.realtive {
  position: relative; }

.text-block {
  text-align: center; }

.text-block__title {
  font-size: 1.56vw;
  margin-bottom: 2.6vw;
  text-align: center;
  font-family: 'GotthardRegular';
  color: #F29544; }

.uppercase {
  text-transform: uppercase; }

.img--full {
  width: 100%; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex--row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.flex--column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.nav__wrap {
  background-color: rgba(0, 0, 0, 0.5); }

.nav {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav a, .nav a:hover, .nav a:active {
    color: #fff; }

.logo {
  width: 5.8vw;
  display: block; }

.nav__menu {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__menu > li {
    margin-right: 1.77vw;
    line-height: 1vw;
    position: relative;
    padding: 2.4vw 0; }
    .nav__menu > li:hover .submenu {
      display: inherit; }
    .nav__menu > li:last-child {
      margin-right: 0; }

.home {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 33.1vw 0 8.75vw; }

.home__descr {
  font-size: 2.6vw;
  line-height: 3.4vw;
  text-align: center;
  color: #fff; }
  .home__descr span {
    color: #F29544; }

.home__form {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end; }

.form__input {
  width: 18vw;
  font-size: .93vw;
  line-height: 1.25vw;
  padding: 1vw 0;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  margin-right: 1.1vw; }
  .form__input:last-child {
    margin-right: 0; }

.form__sbm {
  font-size: .93vw;
  line-height: 1.25vw;
  padding: 1vw 2vw;
  text-align: center;
  color: rgba(255, 255, 255, 0.35);
  background-color: rgba(0, 0, 0, 0.35);
  border: none;
  -webkit-border-radius: 1.5vw;
  border-radius: 1.5vw; }

.input__wrap {
  margin-bottom: 1.3vw; }

.submenu {
  display: none;
  -webkit-transition: .3 all;
  -o-transition: .3 all;
  transition: .3 all;
  font-family: 'SegoeUILight';
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1vw 0 1.2vw;
  width: 13vw;
  -webkit-border-radius: .15vw;
  border-radius: .15vw; }
  .submenu:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-right: 0.46vw solid rgba(255, 255, 255, 0.2);
    border-left: 0.46vw solid rgba(255, 255, 255, 0);
    border-top: 0.46vw solid rgba(255, 255, 255, 0);
    border-bottom: 0.46vw solid rgba(255, 255, 255, 0);
    -webkit-transform: rotate(90deg) translate(-100%, -50%);
    -ms-transform: rotate(90deg) translate(-100%, -50%);
    transform: rotate(90deg) translate(-100%, -50%); }
  .submenu li a {
    display: block;
    padding: .4vw 1.6vw;
    line-height: 1.2vw; }
    .submenu li a:hover {
      background-color: rgba(242, 149, 68, 0.2); }
  .submenu li:last-child {
    margin-bottom: 0; }

.footer__top {
  padding: 5.4vw 0;
  background-image: url(../images/bg-footer.jpg);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-color: rgba(0, 0, 0, 0.52); }

.footer__bottom {
  padding: 3.8vw 0; }

.columns {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  line-height: 1.97vw; }

.column:nth-child(4) {
  line-height: 1.25vw; }
  .column:nth-child(4) li {
    margin-bottom: .36vw; }
    .column:nth-child(4) li:last-child {
      margin-bottom: 0; }

.footer__logo {
  width: 7.2vw;
  display: block;
  margin-bottom: .92vw; }

.social li {
  margin-right: .6vw; }
  .social li:last-child {
    margin-right: 0; }

.social a {
  display: block;
  width: 1vw;
  height: 1vw; }

.services {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transform: translate(0, -0.73vw);
  -ms-transform: translate(0, -0.73vw);
  transform: translate(0, -0.73vw); }

.service img {
  width: 10.8vw; }

.service__text {
  text-align: center;
  font-size: 1.2vw;
  line-height: 1.35vw;
  padding: 1.3vw 0;
  -webkit-box-shadow: 0px 0px 0.5vw 0.156vw rgba(50, 50, 50, 0.16);
  box-shadow: 0px 0px 0.5vw 0.156vw rgba(50, 50, 50, 0.16); }

.countries {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.country--slide {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.loan .country {
  margin: 0 .5vw 5vw; }

.country {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 16.4vw; }
  .country .country__content {
    -webkit-box-shadow: 0 0.15vw 0.3vw rgba(0, 0, 0, 0.16);
    box-shadow: 0 0.15vw 0.3vw rgba(0, 0, 0, 0.16); }
  .country:nth-child(2n) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse; }
    .country:nth-child(2n) .country__content {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .country:nth-child(2n) .img {
      -webkit-box-shadow: 0 0.15vw 0.3vw rgba(0, 0, 0, 0.16);
      box-shadow: 0 0.15vw 0.3vw rgba(0, 0, 0, 0.16); }
    .country:nth-child(2n) .country--slide {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
      .country:nth-child(2n) .country--slide .country__content {
        -webkit-box-shadow: none;
        box-shadow: none; }
      .country:nth-child(2n) .country--slide .img {
        -webkit-box-shadow: 0 0.15vw 0.3vw rgba(0, 0, 0, 0.16);
        box-shadow: 0 0.15vw 0.3vw rgba(0, 0, 0, 0.16); }

.country__content {
  padding: .26vw .88vw .88vw; }

.country__title {
  font-size: 1.56vw;
  line-height: 2vw;
  margin-bottom: .33vw;
  color: #04B2D9; }

.country__text {
  font-size: .83vw;
  line-height: 1vw;
  color: #3E3E40;
  margin-bottom: .75vw; }

.country__price {
  font-size: .83vw;
  line-height: 1vw;
  color: #F29544; }

.info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.info__title {
  color: #F29544;
  font-size: 1.3vw;
  line-height: 1.7vw;
  margin-bottom: 1.4vw;
  font-family: 'GotthardRegular'; }

.info__text {
  font-size: .83vw;
  line-height: 1vw;
  margin-bottom: 1vw;
  color: #3E3E40; }

.info__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #E4F0F2;
  font-size: .73vw;
  line-height: 1vw;
  padding: .57vw 1.25vw;
  background-color: #04B2D9;
  -webkit-border-radius: 1vw;
  border-radius: 1vw; }
  .info__btn:hover, .info__btn:active {
    color: #E4F0F2; }

.calendar {
  height: 48.3vw;
  background-image: url(../images/China_geography.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.calendar__wrap {
  width: 58.3vw;
  padding: 5.2vw 8vw;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../images/bg-calendar.png);
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.calendar__title {
  font-size: 2.6vw;
  line-height: 3.4vw;
  color: #fff;
  margin-bottom: 3.125vw; }
  .calendar__title span {
    color: #F29544; }

.calendar__text {
  color: #E4F0F2;
  margin-bottom: 2vw;
  font-size: .83vw;
  line-height: 1vw; }

.calendar__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  color: #E4F0F2;
  font-size: .73vw;
  line-height: 1vw;
  padding: .57vw 1.25vw;
  background-color: #F29544;
  -webkit-border-radius: 1vw;
  border-radius: 1vw; }
  .calendar__btn:hover, .calendar__btn:active {
    color: #E4F0F2; }

.education__wrap {
  position: relative; }

.education__slider {
  width: 63.8vw; }

.education__info {
  position: absolute;
  text-align: center;
  top: 3.9vw;
  right: 0;
  width: 27.9vw;
  background-color: #04B2D9;
  color: #fff; }

.education__realtive {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 6.25vw 1.7vw 1.7vw; }

.education__text {
  margin-bottom: 2.5vw;
  font-size: 1vw;
  line-height: 1.4vw; }

.home-slider__arrows {
  position: absolute;
  top: 0;
  right: 100%; }

.arrow {
  width: 4.2vw;
  height: 4.2vw;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer; }
  .arrow img {
    width: .625vw; }

.top-arrow {
  background-color: rgba(4, 178, 217, 0.6); }

.bott-arrow {
  background-color: rgba(228, 240, 242, 0.6); }

.loan__slider .slick-slide {
  height: inherit; }
  .loan__slider .slick-slide > div {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }

.loan .slick-dots li button:before {
  content: "";
  width: 1.1vw;
  height: .4vw;
  -webkit-border-radius: .2vw;
  border-radius: .2vw;
  border: 1px solid #04B2D9; }

.loan .slick-dots li.slick-active button:before {
  background-color: #04B2D9; }

.page {
  padding: 6vw 0 5vw; }

.page__title {
  font-size: 2.6vw; }

.page__title--more {
  text-align: center;
  color: #04B2D9;
  font-family: 'SegoeUILight';
  font-size: 1.56vw;
  line-height: 2vw;
  margin-bottom: 2.9vw; }

.img--page {
  margin-bottom: 1.25vw; }

.img-title {
  text-align: center;
  color: #04B2D9;
  font-family: 'SegoeUILight';
  font-size: .83vw;
  line-height: 1vw;
  margin-bottom: 3.9vw; }

.double {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.part {
  width: 49.5%; }

.part--text {
  padding: 2.3vw; }

.page__form {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .page__form .form__input, .page__form .form__sbm {
    background-color: #04B2D9; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

::-moz-input-placeholder {
  color: rgba(255, 255, 255, 0.5); }

.countries--page .country {
  width: 20vw;
  margin-bottom: 3vw; }
